:root {
  --background: #21222c;
  --color-text: #fff;
  --font-family: 'Fira Mono', monospace;
  --menu-background: #21222c;
  --menu-width: 270px;
  --menu-color: #787d9b;
  --menu-color-active: #c2cbff;
  --file-background: #282a36;
  --scrollbar: #353945;
}
