@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@layer base {
    html {
        height: 100%;
    }

    body {
        margin: 0;
        min-height: 100%;
        background: rgb(15, 15, 18);
        color: var(--color-neutral-50);
    }

    #app {
        display: flex;
        flex-direction: column;
    }
    .gradient {
        display: inline-block;
        background-image: linear-gradient(135deg, #f9b41e, #fdf910);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .gradient-blue {
        display: inline-block;
        background-image: linear-gradient(135deg, #1ebff9, #1077fd);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .clamp {
        font-size: clamp(1rem, 8vw, 4rem);
        line-height: clamp(1rem, 8vw, 4rem);
    }

    ::selection {
        background: #ff0099;
        color: black;
        text-shadow: none;
    }
}

@theme {
    --font-sans: "Inter", sans-serif;
    --font-display: "Archivo Black", sans-serif;
}
